* {
    margin: 0;
    /* padding: 2px; */
}

header {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: 120px;
    /* border: 5px white dotted; */
    border-left: 10px aliceblue dashed;
    border-right: 10px aliceblue dashed;
    background-color: #3286c7;
    color: white;
    align-items: center;
}

h1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butn {
    margin: 10px;
    display: flex;
    padding: 5px;
    width: 250px;
    border: 2px black solid;
    background-color: white;
    color: black;
    font-size: 20pt;
    font-family: "DejaVu Sans Mono", monospace;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

#get_car:hover {
    background-color: #3286c7;
    color: aliceblue;
    border: 2px black solid;
    border-radius: 8px;
}

#parking:hover {
    background-color: #3286c7;
    color: aliceblue;
    border: 2px black solid;
    border-radius: 8px;
}

#box {
    display: flex;
    height: 320px;
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid;
    text-align: center;
    padding-bottom: 0.5em;
}